{% extends "h1ds_mdsplus/mdsplus_base.html" %}

{% load templatetable %}
{% block leftpanel %}

{% if input_tree %}
<h3>latest <span id="mds-nav-treename">{{input_tree}}</span> shot: <span class="latest_shot"></span></h3>
{% endif %}

{% comment %}
<div id="mdsplus-breadcrumb">
 <p>{% ifequal shot "-1" %} MDSplus template (shot -1){% else %}{% ifequal shot "0" %}latest shot (<span id="mds-nav-shot" class="latest_shot">{{shot}}</span>){% else %}<a href="{% url mds-node input_tree shot|add:'-1' input_path %}{% if input_query%}?{{input_query}}{% endif %}"> {{shot|add:'-1'}} </a>  < <span id="mds-nav-shot">{{shot}}</span> > <a href="{% url mds-node input_tree shot|add:'1' input_path %}{% if input_query%}?{{input_query}}{% endif %}"> {{shot|add:'1'}}</a> {% endifequal %}{% endifequal %}</p> 
</div>
{% endcomment %}
<div id="request-shot">
<FORM action="{% url mds-request-shot %}" method="post">{% csrf_token %}
    <P>
    <LABEL for="requested-shot">Shot: </LABEL>
              <INPUT type="text" id="requested-shot" name="requested-shot">
    <INPUT type="hidden" name="input-path" value="{{input_path}}">
    <INPUT type="hidden" name="input-tree" value="{{input_tree}}">
    <INPUT type="hidden" name="input-query" value="{{input_query}}">
    <INPUT type="submit" value="go to shot">
    </P>
 </FORM>
</div>


<ul class="mds-tree">
{% for b in breadcrumbs %}{% if not forloop.last %}<li class="mds-node-item unpopulated"><span class="mds-node-name"><a href="{{b.1}}">{{b.0}}</a></span>{% else %}<li>{{b.0}}{% endif %}<span class="mds-node-id">{{b.2}}</span><span class="mds-node-tree">{{b.3}}</span></li>{% endfor %}
</ul>

<h3>Children:</h3>
<table width="100%" class="side-table">
  {% table item children 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>

<h3>Members:</h3>
<table width="100%" class="side-table">
  {% table item members 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>

<h3>Tags:</h3>
<table width="100%" class="side-table">
  {% table item tagnames 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>

<h3>Trees:</h3>
<table width="100%" class="side-table">
  {% table item treelinks 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>

{% endblock %}


{% block mdscontent %}
<strong>{{path_breadcrumbs|safe}}</strong>

{% block node_data %}
{% endblock %}

<h3>Data type:</h3>
<hr/>
{{dtype}}
<hr/>
<h3>TDI expression:</h3>
<hr/>
{{tdi}}
<hr/>
{{debug_data}}
{% endblock %}

{% block extrascript %}
{% if input_tree %}
<script>
function updateLatestShot() {
 $.getJSON('/mdsplus/latest_shot/{{input_tree}}/', function(d){
 $(".latest_shot").text(d.latest_shot);
 }); // end getJSON
} // end function

function autoUpdate() {
setInterval(updateLatestShot, 2000);
}

$(document).ready(function() {
updateLatestShot();
autoUpdate();
});

</script>
{% endif %}
{% endblock %}
