{% extends "h1ds_mdsplus/base_node.html" %}

{% block node_data %}
<div class="node-data">
<div id="signal-placeholder" style="width:600px;height:300px;"></div>  
<div id="signal-overview" style="margin-left:50px;margin-top:20px;width:400px;height:50px"></div> 
</div>

info:

signal dtype: {{signal_dtype}}

{% endblock node_data %}


{% block extrascript %}
<script>

function plotSignal(sigdat) {
$.plot($("#signal-placeholder"),  [{label: sigdat.yunits+" v. "+sigdat.xunits, data:sigdat.data, clickable: true, hoverable: true }]  );
//$.plot($("#signal-placeholder"),  [ sigdat ]  );
} // end function

function getH1DSBinData() {
$.get(
 '?view=json&f999_maxsamples=300',{},
function (data) {
  var d = {"data": Array(data.node_data.length), "xunits":data.dim_units, "yunits":data.data_units};
  for( i=0; i < d.data.length; i++){
    d.data[i]=[data.node_dim[i],data.node_data[i]];
  }
  plotSignal(d);
  },
  'json'
);
}



$(document).ready(function() {
data = getH1DSBinData();
});
</script>

{% endblock extrascript %}

